{% extends "layout.html" %}

{% block heading %}
<h1>	Welcome to BookBee! I am main page</h1>
{% endblock %}

{% block body %}
<div class="form" id="loginform">
	<h1>LOGIN</h1>
	<form action="{{url_for('home') }}" method="post" name="loginform">
		<input required type="text" name="username" placeholder="Enter username">
		<input required type="password" name="password" placeholder="Enter password">
		<button>Login</button>
	</form>
</div>

<div class="form" id="signupform">
	<h1>SIGNUP</h1>
	<form action="{{url_for('index')}}" method="post" name="signupform">
		<input required type="text" name="username" placeholder="Enterusername">
		<input required type="email" name="emailid" placeholder="Enter Email-id">
		<input required type="password" name="create_password" placeholder="Create Password">
		<input required type="password" name="confirm_password" placeholder="Confirm Password">
		<button>Signup</button>
	</form>
</div>
{% endblock %}

